.BuildControls {
  width: 100%;
  background-color: #ec9b22;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 3px #ccc;
  margin: auto;
  padding: 3px;
  box-sizing: border-box;
}

.OrderButton {
  margin-top: 7px;
  background-color: #d8db2f;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 10px 15px;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #cccf1e;
  color: 1px solid #966909;
  color: #966909;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}
